################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/cautious-succotash
/DeviceDataProcessor/bin/Debug/net8.0
/DeviceDataProcessor/obj
/DeviceDataProcessor.Tests/bin/Debug/net8.0
/DeviceDataProcessor.Tests/obj
/.vs/ProjectEvaluation/cautious-succotash.metadata.v7.bin
/.vs/ProjectEvaluation/cautious-succotash.projects.v7.bin
